.App {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(27, 27, 27);
}

.Container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}
